<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2010-2013 Leon Blakey <lord.quackstar at gmail.com>

    This file is part of PircBotX.

    PircBotX is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    PircBotX is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with PircBotX. If not, see <http://www.gnu.org/licenses/>.

-->
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->



<configuration>
	<appender name="multiplex" class="de.huxhorn.lilith.logback.appender.ClassicMultiplexSocketAppender"> 
		<Compressing>true</Compressing> <!-- will automatically use correct default port --> <!-- Default port for compressed is 10000 and uncompressed 10001 -->
		<ReconnectionDelay>10000</ReconnectionDelay> 
		<IncludeCallerData>true</IncludeCallerData> 
		<RemoteHosts>localhost</RemoteHosts> 
	</appender>
	<root level="ALL">
		<appender-ref ref="multiplex" />
	</root>
</configuration>